.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid gray;
}

.nav ul {
  display: flex;
}

.nav ul li {
  list-style: none;
  margin-left: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0.25rem;
  border: 3px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.logo:hover {
  background-color: #000;
  color: white;
  cursor: pointer;
}
