:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;

  /* Fonts */
  --font-margin-bottom: 1rem;
  --font-size: 1rem;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  margin-bottom: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}
