.entry {
  background-color: whitesmoke;
  padding: 1rem;
}

.title {
  margin-top: 0;
  margin-bottom: 0.25rem;
  font-weight: bold;
  font-size: large;
}

.subtitle {
  margin: 0;
  margin-bottom: 1rem;
}

.date {
  margin: 0;
  font-size: smaller;
  font-style: italic;
  color: gray;
}

.location {
  margin: 0;
  font-size: smaller;
  padding-bottom: 1rem;
  color: gray;
}

.body {
  margin: 0;
}
